.entries
  - @entries.each_with_index do |entry, idx|
    - color = idx.even? ? 'even' : 'odd'
    .entry{class: color, 'data-id': entry.entry_id}
      - if @favorites[entry.entry_id]
        %button.unfavorite UNFAVORITE
      - else
        %button.favorite FAVORITE
      .entry-info
        %a.title{href: entry.url, title: entry.title}
          = truncate(entry.title, length: 100)
        .author= entry.author
= render 'layouts/page_navigation'

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    addFavoriteListeners();
  });
